/* CSS Styling for email form on mauna main landing page */

/* For large/medium/xl screens */
@media(min-width:991px){
    /* CSS Style for the email input file on mauna main landing page */
    .email-form{
        margin-top:2em;
    }

    .good-input{
        /* margin-left:9em; */
        border:none;    
        width:500px;
        border-bottom:1px solid #333333;
        text-align: center;
    }

    /* Color change on focus of the input file on mauana main landing page */
    .good-input:focus{
        outline-style:none;
        box-shadow:none;
        border:transparent;        
        border-bottom:2px solid green;    
    }    
}

/* For smaller/mobile screens */
@media(max-width:767px){
    /* CSS Style for the email input file on mauna main landing page */
    .email-form{
        margin-top:2em;
    }

    .good-input{
        /* margin-left:9em; */
        border:none;    
        width:80%;
        border-bottom:1px solid #333333;
        text-align: center;
        margin-bottom:10px;
    }

    /* Color change on focus of the input file on mauana main landing page */
    .good-input:focus{
        outline-style:none;
        box-shadow:none;
        border:transparent;        
        border-bottom:2px solid green;    
    }
}